Dataset/**

!Dataset/static_gesture_recognition/gesture_data.csv
!Dataset/static_gesture_recognition/augmented_gesture_data.csv
!Dataset/dynamic_gesture_recognition/annotations/
!Dataset/dynamic_gesture_recognition/annotations/**

**/__pycache__
*.log
*.pth
**/test.ipynb
Modality/testcases
ml_training/headpose/models

Modality/models/speech

utils/models

test.py

pylint_report.txt
pylint.ps1
