[TYPECHECK]
generated-members=cv2\.(adaptiveThreshold|bitwise_and|circle|contourArea|cvtColor|destroyAllWindows|drawContours|findContours|flip|getStructuringElement|imencode|imshow|mean|moments|morphologyEx|putText|rectangle|resize|solvePnP|threshold|waitKey|ADAPTIVE_THRESH_GAUSSIAN_C|COLOR_BGR2GRAY|COLOR_BGR2RGB|CAP_PROP_FPS|CAP_PROP_FRAME_HEIGHT|CAP_PROP_FRAME_WIDTH|CAP_PROP_POS_FRAMES|CHAIN_APPROX_SIMPLE|COLOR_GRAY2BGR|FONT_HERSHEY_SIMPLEX|GaussianBlur|LINE_AA|MORPH_CLOSE|MORPH_ELLIPSE|MORPH_OPEN|RETR_EXTERNAL|Rodrigues|THRESH_BINARY_INV|THRESH_OTSU|VideoCapture),wave\.Wave_read\.(setnchannels|setsampwidth|setframerate|writeframes),tensorflow\.(keras)
